<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZenithModsLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ModsConfigVersion" value="2" />
    <add key="SteamRegistryGameFolder" value="HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Valve\Steam" />
    <add key="ZenithModsUrl" value="https://miinc.ru/zenith/VTZenith.dll" />
    <add key="ZenithModsConfigUrl" value="https://miinc.ru/zenith/vtzenith.json" />
  </appSettings>
<userSettings>
        <ZenithModsLauncher.Properties.Settings>
            <setting name="gameDirectories" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="selectedGameDirectory" serializeAs="String">
                <value>-1</value>
            </setting>
        </ZenithModsLauncher.Properties.Settings>
    </userSettings>
</configuration>
